{% extends "base.html" %}
{% block content %}
    {% if errorMessage %}
    <div>
        <h1>{{errorMessage}}</h1>
    </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <form action="" method="POST">
                <label for id="title">Title</label>
                <br>
                <input type="text" class="form-control" name="title" id="title" value="{{form['title']}}">
                <br>
                <label for id="body">Body</label>
                <br>
                <textarea name="body" class="form-control">{{form['body']}}</textarea>
                <br>
                <input type="submit">
            </form>
        </div>
    </div>
{% endblock %}
